<li class="tweet-stream-item" data-tweet-id="<%= tweet.id %>">
  <div class="author-info">
    <span class="tweet-author-name">
      <strong>
      <%= "#{tweet.user.full_name}" %>
      </strong>
    </span>
    <span class="tweet-author-email"><%=" #{tweet.user.email}" %></span>
  </div>
  <span class="timestamp">
    Posted <%= time_ago_in_words(tweet.created_at) %> ago
  </span>
  <span class="content">
    <%= tweet.content %>
  </span>
  <% if current_user == tweet.user %>
    <%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %>
  <% end %>
</li>
