<div class="profile-info">
  <h1 class="profile-user-name"><%= @user.full_name %></h1>
  <%= link_to 'Edit', edit_user_path(@user), class: 'edit-button' if @user == current_user %>
  <h2 class="profile-user-email"><%= @user.email %></h2>
</div>

<div class="user-activity">
  <div class="tweet-stream">
    <h2>Tweets: <%= @user.tweets.size %></h2>
    <ol>
      <% @user.tweets.each do |tweet| %>
        <%= render 'tweets/preview', tweet: tweet %>
      <% end %>
    </ol>
  </div>

  <div class="user-followers">
    <h2>Followers: <%= @user.followers.size %></h2>
    <ol>
      <% @user.followers.each do |user| %>
        <%= render 'preview', user: user %>
      <% end %>
    </ol>
  </div>

  <div class="user-following">
    <h2>Following: <%= @user.following.size %></h2>
    <ol>
      <% @user.following.each do |user| %>
        <%= render 'preview', user: user %>
      <% end %>
    </ol>
  </div>
</div>
